<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>账号设置</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
		<style>
			#markuptool {
				padding-top: 10px;
			}
			.right-content,.left-content {
				border: 1px solid  silver;
				min-height: 900px;
			}
			.left-content {
				width: 49%;
	    		float: left;
			}
			.right-content {
				width: 50%;
	    		float: right;
			}
			.left-content .layui-table-view,.right-content .layui-table-view {
				margin: 0 !important;
				overflow-x: hidden;
			}
			.block-sm {
				padding: 6px 5px;
			}
			.show-detail {
				padding: 10px;
				border: 1px solid #eeeeee;
				min-height: 240px;
				font-size: 16px;
				line-height: 24px;
				color: ;
				box-shadow: 1px 2px 2px #88888857;
			}
			#words-action {
				background: #f3f3f3;
				padding: 6px 0px 6px 0px;
			}
           .right-content .layui-tab-title li{width:14.2857143%;padding:0;margin:0;}
           .ui-slidebar {
			    width: 40px;
			    margin-left: 405px;
			    position: fixed;
			    right: 0;
			    bottom: 150px;
			    z-index: 100;
			}
			.ui-slidebar .dt {
			    width: 40px;
			}
			.ui-slidebar .jd-im {
			    display: block;
			    width: 40px;
			    height: 40px;
			    background: url(../../resources/images/amika.jpg) no-repeat;
			    background-size: 100% 100%;
			}
			.label-cla li {
				display: inline-block;
			}
			.show-query {
				border: none !important;
				box-shadow: none !important;
				font-size: 14px;
				padding: 10px;
			}
			#question-answer {
				padding-top: 20px;
			}
			#question-answer .alabel {
				width: 60px;
				padding: 0;
				line-height: 34px;
				text-align: center;
				font-size: 18px;
			}
			#question-answer .alabel-innput {
			    margin-left: 66px !important;
			}
			.btn-down {
				display: none !important;
				text-align: center;
				top: 30px;
			}
			#tagwords:hover+.btn-down {
				display: block !important;
			}
			.popup_menu {
				position: absolute;
				z-index: 90;
				border: 1px solid #AEAEAE;
				padding: 2px;
				width: 80px;
				border-radius: 2px;
				background: white;
				box-shadow: 3px 3px 14px #888888;
			}
			.popup_menu a {
				font-size: 12px;
				display: block;
				color: #325B8E;
				text-indent: 12px;
				text-decoration: none;
				height: 26px;
				line-height: 25px;
				padding-right: 5px;
			}
			.popup_menu a:hover {
				background: silver;
				color: #fff;
			}
			.layui-badge-dot{width:12px;height:12px;box-shadow: 0 0 0 3px #ccd0cded;transition: all 0.2S;}
			.layui-badge-dot:hover {box-shadow: 0 0 0 6px #fff;}
			
			#show-detail {
				-webkit-user-select:none;
			    -moz-user-select:none;
			    -ms-user-select:none;
			    user-select:none;
			}
			
          </style>
	</head>
	<body>
		<div class="ui-slidebar" id="help">
            <div class="dl">
                <div class="dt">
                    <a href="#none" class="jd-im"></a>
                </div>
            </div>
        </div>
		<div class="layui-fluid iframe-top" id="markuptool">
			<div class="layui-row">
				<div class="left-content">
					<div class="layui-form-query">
						<form class="layui-form" action="">
							<blockquote class="layui-elem-quote block-sm">
								<div class="layui-inline">
									<div class="layui-input-inline">
										<input type="text" name="ids" value="" placeholder="请输入查询 ID" class="layui-input search_input" v-model="searchid">
									</div>
									<div class="layui-input-inline">
										<input type="text" name="text" value="" placeholder="请输入查询内容" class="layui-input search_input" v-model="searchtext">
									</div>
									<div class="layui-input-inline">
									    <select name="statue" lay-verify="required" v-model="searchselect">
									        <option value=""></option>
									        <option value="0">已标记</option>
									        <option value="1">未标记</option>
									    </select>
								    </div>
									<a class="layui-btn layui-btn-primary" data-type="search">查询</a>
								</div>
								<div class="layui-inline" style="float: right;margin-top: 4px;">
									<button class="layui-btn layui-btn-primary layui-btn-sm" data-type="refresh"><i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#x1002;</i></button>
								</div>
							</blockquote>
						</form>
					</div>
					<table id="layui-table" lay-filter="layui-action"></table>
				</div>
				<div class="right-content">
					<blockquote class="site-text layui-elem-quote">
						<!--<button class="layui-btn layui-btn-normal btn-color" data-color="#1E9FFF;" data-cols="entity_A">A类(实体)</button>
						<button class="layui-btn  layui-btn-warm btn-color" data-color="#FFB800;" data-cols="entity_B">B类(关系)</button>
						<button class="layui-btn layui-btn-danger btn-color" data-color="#FF5722;" data-cols="entity_C">C类</button>
						<button class="layui-btn btn-color" data-color="#009688;" data-cols="entity_D">D类</button>-->
						<button class="layui-btn btn-color" data-color="#009688;" data-cols="entity_A">A类(实体)</button>
						<button class="layui-btn  layui-btn-warm btn-color" data-color="#FFB800;" data-cols="entity_R">B类(关系)</button>
						<button class="layui-btn layui-btn-danger btn-color" data-color="#FF5722;" data-cols="entity_B">C类</button>
						<!--<button class="layui-btn layui-btn-normal btn-color" data-color="#1E9FFF;" data-cols="entity_D">D类</button>-->
						<button class="layui-btn layui-btn-primary" data-type="addclaify">添加分类</button>
					</blockquote>
					<form class="layui-form" action="" id="words-action" onsubmit="return false">
						
						<div class="layui-inline">
						    <label class="layui-form-label">所属知识点:</label>
						    <div class="layui-input-inline">
						    	<input type="text" name="chapter" value="" placeholder="请输入知识点" class="layui-input" id="addachapter" v-model="chapter">
						    </div>
						</div>
						<div class="layui-inline">
							&nbsp;&nbsp;
							<button class="layui-btn layui-btn-primary" data-type="addcidian">加入词典</button>
						    <button class="layui-btn layui-btn-primary" data-type="removecidian">从词典移除</button>
						    <button class="layui-btn layui-btn-primary" data-type="emptylabel">清空标记</button>
						    &nbsp;&nbsp;
							<input type="checkbox" name="" title="显示词性" lay-skin="primary" lay-filter="showspec">
						</div>
					</form>

					<div class="show-detail" id="show-detail" v-html="maintext">
						<!--{{ maintext }}-->
					</div>
					
					<div class="show-detail" id="show-detail-action" v-html="origindata">
						<!--{{ maintext }}-->
					</div>
				</div>
			</div>
		</div>
		<script src="../../plugins/layui/layui.js"></script>
		<script src="../../plugins/vue.min.js"></script>
		<script src="../../common.js"></script>
		<script>
			
			var vm = new Vue({
				el: "#markuptool",
				data: {
					chapter: "",
					// textid
					textid: "",
					spltext: "",
					midtext: "",
					searchid: "",
					searchtext: "",
					searchselect: 0,
					baseDate: "basedate",
					maintext: "请选择左侧文本.....(展示文本)",
					// 右键选中文本
					rightxt: "",
					origindata: "请选择左侧文本.....(实际操作文本)",
				},
			})
			
			layui.use(['jquery', 'layer', 'table','form'], function() {
				var $ = layui.jquery,
					table = layui.table,
					laydate = layui.laydate,
					form = layui.form;
					
				// 监听提交
				form.on('submit(formDemo)', function(data){
				    layer.msg(JSON.stringify(data.field));
				    return false;
				});
				
				// 问答table
				table.render({
				    elem: '#layui-table'
				    ,id: 'testReload'
//				    ,url:'/demo/table/user/'
					,url:'http://58.247.53.14:3000/textlists'
				    ,height: 820
			    	,cellMinWidth:200
			    	,page: true //开启分页
			    	,limit: 18
				    ,cols: [[
				    	 {field:'id', width:'10%', title: '状态'}
				        ,{field:'text', width:'70%', title: '文本'}
				        ,{fixed:'right', width:'20%', title: '操作',align: 'center',toolbar: '#barAction'}
				    ]]
				    ,page: true
				});
				
				
				// 颜色标记
				$(document).on("click",".btn-color",function () {
					
					// 颜色
					var btncolor = $(this).data("color");
					// 字段
					var cols = $(this).data("cols");
					if (window.getSelection) {
						var selectedtext = window.getSelection().toString().replace(/(^\s*)|(\s*$)/g, "");
						var originarr = vm.origindata.split(" ");
						
//				        alert(window.getSelection().anchorOffset);
				        // 计算start

				        var start = window.getSelection().anchorOffset;
						var end = window.getSelection().focusOffset;
						if (end < start) start = end;
				        
				        
				        var tempstr1 = vm.origindata.substring(0,start);
				        
						if (!selectedtext.length) {
				    		layer.msg('请选择下面的文本', {icon: 2});
				    		return false;
				    	}
						
						tempstr1 = tempstr1.replace(/(^\s*)|(\s*$)/g, "");
						num1 = tempstr1.split(" ").length;
						
						if (tempstr1.length == 0) { num1 =0}
						
						var cur_text = selectedtext.replace(/(^\s*)|(\s*$)/g, "");
						num2 = cur_text.split(" ").length + num1 - 1;
						
						// 位置
						var positions = "("+num1+","+num2+")";
						
						// 添加标记 | 取消标记
						$.post("http://58.247.53.14:3000/addlable?clas="+cols+"&text="+positions+"&id="+vm.textid,{},function(data,status){
							if (status == "success") {
								vm.maintext = "标记后重新获取......";
					    		$.post("http://58.247.53.14:3000/splitword?text="+vm.midtext+"&id="+vm.textid,{},function(data,status){
									vm.origindata = data.origindata;
							    	vm.maintext = data.signdata;
							    	
							    	$(".layui-laypage-btn").click()
									// 改变勾选颜色
//									$("tr[data-index="+vm.textid+"]").find(".btn-change").addClass("layui-btn-danger");
					    		});
								
							} else {
								layer.msg('标记失败', {icon: 2});
							}
						});
						
					} else if (document.selection && document.selection.createRange) {
				    	layer.msg('目前我们只支持Chrome', {icon: 3});
				    }
				})
				
				
				// 鼠标右键
//				var kyoPopupMenu = {};
//				kyoPopupMenu = (function() {
//					return {
//						sys: function(obj) {
//							$('.popup_menu').remove();
//							popupMenuApp = $('<div class="popup_menu app-menu"><ul><li><a menu="menu1">默认标记</a></li><li><a menu="menu2">名词</a></li><li><a menu="menu3">动词</a></li><li><a menu="menu4">形容词</a></li></ul></div>')
//								.find('a').attr('href', 'javascript:;')
//								.end().appendTo('body');
//							//绑定事件  
//							$('.app-menu a[menu="menu1"]').on('click', function() {
//								layer.msg('默认标记', {icon: 1});
//							});
//							$('.app-menu a[menu="menu2"]').on('click', function() {
//								layer.msg('标记为名词', {icon: 1});
//							});
//							$('.app-menu a[menu="menu3"]').on('click', function() {
//								layer.msg('标记为动词', {icon: 1});
//								// window.location.href = "http://www.sina.com.cn";
//							});
//							$('.app-menu a[menu="menu4"]').on('click', function() {
//								layer.msg('标记为形容词', {icon: 1});
//								// window.location.href = "http://www.sina.com.cn";
//							});
//							return popupMenuApp;
//						}
//					}
//				})();
				
				
				// 添加章节
				$(document).on("keypress","#addachapter",function (event) {
					if (event.keyCode == "13") {
						var id = vm.textid,
							word = $.trim($(this).val());
						if (word == "" || id == "") {
							layer.msg('请选中文本后输入章节', {icon: 2});
							return false;
						}
							
						$.post("http://58.247.53.14:3000/addchapter?text="+word+"&id="+id,{},function(data,status){
							if (status == "success") {
								layer.msg('添加章节成功', {icon: 1});
							} else {
								layer.msg('添加章节失败', {icon: 2});
							}
					    });
					}
				})
				
				// 显示词性
				form.on('checkbox(showspec)', function(data) {
					vm.spltext = vm.maintext;
					var id = vm.textid;
					
					
					if (id == "") {
						layer.msg('请先选中文本', {icon: 2});
						return false;
					}
					
					if (data.elem.checked) {
						vm.maintext = "<span>脚本正在转换中......</span>";
						var word = vm.midtext;
						$.post("http://58.247.53.14:3000/wordspec?text="+word,{},function(data,status){
							if (status == "success") {
								// layer.msg('显示词性成功', {icon: 1});
								vm.maintext = data;
							} else {
								layer.msg('显示词性失败', {icon: 2});
							}
					    });
					} else {
						vm.maintext = vm.midtext;
					}
				});
				
				// 重置
				$("#reset-action").click(function () {
					if (window.getSelection) {
						var text = ""; 
						if(navigator.appName=="Microsoft Internet Explorer"){ 
					        text = document.selection.createRange().text; 
					    }else{ 
					        text = window.getSelection(); 
					    }
					    
					    if (!(text.toString()).length) {
				    		layer.msg('请选择下面的文本', {icon: 2});
				    	}
						var sel = window.getSelection();
						sel.deleteFromDocument();    	// 删除选中
						var r = sel.getRangeAt(0);
				        var selFrag = r.cloneContents(); 
				        var frag = selFrag.childNodes; 
				        for (var i = 0; i < frag.length; i++) {
				            alert(frag[i].nodeName); 
				        };
				        
				        var h1 = document.createElement('span'); 
				        h1.innerHTML = text; 
				    } 
				})
				
				//取消右键  
				$('html').on('contextmenu', function() { return false;}).click(function() {
					$('.popup_menu').hide();
				});
				
				//桌面点击右击  
//				$('.show-detail').on('contextmenu', function(e) {
//					var btncolor = $(this).data("color");
//					if (window.getSelection) {
//						var text = ""; 
//						if(navigator.appName=="Microsoft Internet Explorer"){ 
//					        text = document.selection.createRange().text; 
//					    }else{ 
//					        text = window.getSelection(); 
//					    } 
//					    if ((text.toString()).length) {
//					    	var popupmenu = kyoPopupMenu.sys();
//							l = ($(document).width() - e.clientX) < popupmenu.width() ? (e.clientX - popupmenu.width()) : e.clientX;
//							t = ($(document).height() - e.clientY) < popupmenu.height() ? (e.clientY - popupmenu.height()) : e.clientY;
//							popupmenu.css({
//								left: l,
//								top: t
//							}).show();
//							return false;
//				    	}
//					}
//				});
				
				// 操作事件（审核，查看等等）
				table.on('tool(layui-action)', function(obj){
					var data = obj.data; 
					var layEvent = obj.event;
					var tr = obj.tr;
					if(layEvent === 'deletetext'){
						
					} else if (layEvent === 'checktext') {
						vm.textid = data.id;
						vm.maintext = "脚本正在转换中......";
						vm.midtext = data.text;
						vm.chapter = data.category;
						var word = data.text;
						var id = data.id;
						$.post("http://58.247.53.14:3000/splitword?text="+word+"&id="+id,{},function(data,status){
							// 实际分词
							vm.origindata = data.origindata;
							// 添加背景
					    	vm.maintext = data.signdata;
					    });
					} else {
						alert("error")
					}
				})
				
				active = {
				    // 查询
				    search: function () {
				        table.reload('testReload', {
					        page: {
					            curr: 1 
					        }
					        ,where: {
					        	id: vm.searchid,
					        	texts: vm.searchtext,
					        	state: vm.searchselect,
					        }
				        });
				    },
				    // 刷新
				    refresh: function () {
				    	// 刷新当前页
				    	$(".layui-laypage-btn").click()
				    },
				    addcidian: function () {
				    	var word = ""; 
						if(navigator.appName=="Microsoft Internet Explorer"){ 
					        word = document.selection.createRange().text; 
					    }else{ 
					        word = window.getSelection(); 
					    } 
					    
						if (vm.textid === "") {
							layer.msg('请先选中文本', {icon: 2});
							return false;
						}
					    if (word == "") {
							layer.msg('鼠标选中文本不能为空', {icon: 2});
							return false;
						}
					    
				    	$.post("http://58.247.53.14:3000/addcidian?text="+word,{},function(data,status){
				    		if (status == "success") {
								layer.msg('加入词典成功', {icon: 1});
							} else {
								layer.msg('加入词典失败', {icon: 2});
							}
					    });
				    },
				    removecidian: function () {
				    	var word = ""; 
						if(navigator.appName=="Microsoft Internet Explorer"){ 
					        word = document.selection.createRange().text; 
					    }else{ 
					        word = window.getSelection(); 
					    } 
					    
						if (vm.textid === "") {
							layer.msg('请先选中文本hg', {icon: 2});
							return false;
						}
					    if (word == "") {
							layer.msg('鼠标选中文本不能为空', {icon: 2});
							return false;
						}
				    	
				    	$.post("http://58.247.53.14:3000/removecidian?text="+word,{},function(data,status){
				    		if (status == "success") {
				    			layer.msg('移出词典成功', {icon: 1});
							} else {
								layer.msg('移出词典失败', {icon: 2});
							}
					    });
				    },
				    emptylabel: function () {
				    	
				    	if (vm.textid === "") {
							layer.msg('请先选中文本', {icon: 2});
							return false;
						}
				    	layer.confirm('你确定要清空标记和知识点么?', {icon: 3, title:'提示'}, function(index){
					    	$.get("http://58.247.53.14:3000/emptylabel?id="+vm.textid,function(data,status){
					    		if (status == "success") {
					    			vm.maintext = "清除后重新获取......";
						    		$.post("http://58.247.53.14:3000/splitword?text="+vm.midtext+"&id="+vm.textid,{},function(data,status){
										vm.origindata = data.origindata;
								    	vm.maintext = data.signdata;
								    	$(".layui-laypage-btn").click()
								    });
					    			layer.msg('清空标记和知识点成功', {icon: 1});
								} else {
									layer.msg('清空失败', {icon: 2});
								}
						    });
						  	layer.close(index);
						});
				    }
				}
				
				// 按钮搜索
			    $('#markuptool .layui-btn').on('click', function(){
			        var type = $(this).data('type');
			        active[type] ? active[type].call(this) : '';
			    });
			    
			})
		</script>
		<!-- 操作 -->
		<script type="text/html" id="barAction">
			<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="deletetext">
	          	<i class="layui-icon">&#xe640;</i>
	        </button>
	        <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edittext">
	          	<i class="layui-icon">&#xe642;</i>
	        </button>
	        {{# if (d.entity_A != "" || d.entity_R != "" || d.entity_B != "" || d.category != ""){ }}
				<button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="checktext">
		          	<i class="layui-icon">&#xe618;</i>
		        </button>
			{{#  } else { }}
				<button class="layui-btn layui-btn-normal layui-btn-xs btn-change" lay-event="checktext">
		          	<i class="layui-icon">&#xe618;</i>
		        </button>
			{{#  } }} 
		</script>
	</body>

