.layui-layer-page .layui-layer-content {
	position: relative;
	overflow: visible !important;
}

.layui-nav-itemed .layui-nav-child a{
	padding-left: 42px;
}

/*logo*/
.layui-layout-admin .layui-logo {
	color: #fff;
	color: red;
}

.layui-tab-title li {
	min-width: 30px !important;
}

/*头像*/
.layui-nav-img {
    border: 1px solid silver;
}

/*三级菜单*/
#third-menu {
	padding: 0;
}

#third-menu li {
	border-right: 1px solid #eeeeee;
}

/*天气*/
.weather {
	padding: 0 20px;
	height: 50px;
	background: #CCCCCC;
	margin-top: -10px;
}

/*搜索菜单*/
.search-menu {
	margin-left: 240px;
    margin-top: 5px;
    display: inline-block;
}

/*服务器时间*/


/*右侧菜单*/
#right-menu {
	
}

/*菜单列表*/
.layui-nav-tree .layui-nav-item a {
    margin-left: 6px;
}


.layui-nav-item a i {
	margin-right: 10px;
}

/*水平功能*/
.kit-tab .layui-tab-title {
	background: red;
	width: calc(100% - 0px);
	padding-right: 0;
	position: absolute;
	/*z-index: 2;*/
	border-top: 1px solid #f6f6f6;
	background: #fff;
	border-bottom: 0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.kit-tab .kit-tab-tool {
	z-index: 5;
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #fff;
	top: 0;
	right: 0px;
	border-top: 1px solid #f6f6f6;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.anspray-tool-body {
	z-index: 5;
	position: absolute;
	/*width: 400px;*/
	height: 40px;
	background-color: #fff;
	top: 0;
	right: 0px;
	border-top: 1px solid #f6f6f6;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	margin-right: 50px;
}

.anspray-tool-body li {
	display: inline-block;
	width: 50px;
}

.anspray-tool-body li:hover i {
	color: #00CCFF;
}

/*锁屏*/
.admin-header-lock {
	background: #fff;
	width: 320px;
	height: 90px;
	padding: 10px 20px 20px 20px;
	padding: 20px;
	position: relative;
	top: -120px;
	text-align: center;
	border-radius: 3px;
}

.admin-header-lock-img {
	width: 65px;
	height: 65px;
	margin: 0 auto;
}

.admin-header-lock-img img {
	width: 65px;
	height: 65px;
	border-radius: 100%;
}

.admin-header-lock-name {
	color: #009688;
	font-size: 16px;
	margin: 15px 0 15px 0;
}

.input_btn {
	overflow: hidden;
	margin-bottom: 10px;
}

.admin-header-lock-input {
	width: 170px;
	color: #fff;
	background-color: #009688;
	float: left;
	margin: 0 10px 0 40px;
	border: none;
}

.admin-header-lock-input::-webkit-input-placeholder {
	color: #fff;
}

.admin-header-lock-input::-moz-placeholder {
	color: #fff;
}

.admin-header-lock-input::-ms-input-placeholder {
	color: #fff;
}

.admin-header-lock-input:-moz-placeholder {
	color: #fff;
}

#unlock {
	float: left;
}

#lock-box p {
	margin-top: 30px;
	color: #e60000;
	/*color: #555555;*/
	letter-spacing: 1px;
}

/*皮肤扩展*/
#colors {
	height: 0 !important;
}

.digital-clock,
.millisecondClock {
	font-size: 16px;
	font-family: "黑体";
	color: #00CCFF;
	margin-right: 20px;
}

.kit-theme .layui-layout-admin .layui-logo {
	color: #fff;
	background-color: #dd4b39
}

.kit-theme .kit-layout-admin .layui-header {
	background-color: #fff;
	border-bottom: 2px solid #dd4b39
}

.kit-theme .kit-side,
.kit-theme .kit-side .layui-side-scroll .layui-nav-tree,
.kit-theme .layui-layout-left .layui-nav-item:hover {
	background-color: #fff!important
}

.kit-theme .layui-layout-admin .layui-header .layui-nav {
	color: #EEE
}

.kit-theme .kit-layout-admin .layui-body {
	top: 52px
}

.kit-theme .kit-side {
	box-shadow: 0 0 10px 0 #ccc;
	top: 52px
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-item {
	background-color: #fff;
	border-bottom: 1px solid #EEE
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-item a:hover {
	background-color: #fff;
	color: #EEE
}

.kit-theme .kit-side .layui-nav .layui-nav-item a {
	color: #393D49!important
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this,
.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this a,
.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this a:hover,
.kit-theme .kit-side .layui-nav-tree .layui-this,
.kit-theme .kit-side .layui-nav-tree .layui-this>a,
.kit-theme .kit-side .layui-nav-tree .layui-this>a:hover {
	color: #dd4b39!important;
	background-color: #fff!important
}

.kit-theme .kit-side .layui-nav .layui-nav-itemed .layui-nav-child {
	background-color: #f8f8f8!important
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd:first-child {
	border-top: 1px solid #EEE
}

.kit-theme .kit-nav li.layui-this {
	background-color: #fff!important
}

.kit-theme .kit-nav li.layui-this a {
	color: #dd4b39!important
}

.kit-theme .kit-nav .layui-nav-item a {
	color: #393D49!important
}

.kit-theme .kit-nav .layui-nav-item a:hover {
	color: #dd4b39!important
}

.kit-theme .kit-tab .layui-tab-title li.layui-this,
.kit-theme .kit-table .kit-table-header .kit-search-inputs .kit-search-more,
.kit-theme .layui-table-tool .layui-laypage a:hover {
	color: #dd4b39
}

.kit-theme .kit-side .layui-side-scroll .kit-side-fold {
	color: #dd4b39;
	background-color: #fff;
	border-bottom: 1px solid #eee
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-child dd.layui-this {
	padding-left: 3px;
	background-color: #dd4b39!important
}

.kit-theme .kit-side .layui-nav-tree li.layui-this {
	padding-left: 5px;
	background-color: #dd4b39!important
}

.kit-theme .kit-side .layui-nav-tree .layui-nav-bar {
	background-color: #dd4b39!important
}

.kit-table .kit-table-header .kit-search-inputs .kit-search-keyword button,
.kit-theme .layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #dd4b39
}

.kit-theme .layui-nav .layui-nav-more {
	border-top-color: #dd4b39
}

.kit-theme .kit-nav .layui-nav-itemed .layui-nav-more,
.kit-theme .kit-nav .layui-nav-mored,
.kit-theme .kit-side .layui-nav-itemed .layui-nav-more,
.kit-theme .kit-side .layui-nav-mored {
	border-color: transparent transparent #dd4b39
}

/*按钮颜色*/
.kit-theme .layui-layer-btn .layui-layer-btn0 {
    border-color: #dedede !important;
    background-color: #fff !important;
    color: #333;
}

[v-cloak] {
    display: none;
}

