<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>人脸数据库</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../common.css">
		<style>
			
			.iframe-top {
				margin-top: 20px;
			}
			
			.iframe-select {
				width: 150px;
			}
			
			.iframe-input1 {
				width: 350px !important;
			}
			
			.iframe-btn1 {
				
				width: 100px !important;
			}
			
			/*#facedatabase .layui-table-cell{height:48px;line-height: 48px;}*/
			#facedatabase .faceshow{display: inline-block;width:100%;height:100%;}
			#facedatabase .faceshow img{height:100%;}
			#faceshow,#faceshow .top,#faceshow .middle,#faceshow .bottom {display:flex;}
			#faceshow .top,#faceshow .middle,#faceshow .bottom{height:120px;width:100%;}
			#faceshow {flex-direction: column;margin-top:20px}
			#faceshow a{display: flex;height:100%}
			#faceshow img{height:100%;}
			#faceshow .top{justify-content: center;}
			#faceshow .middle{justify-content: space-between;padding:0 20px;box-sizing: border-box;margin:35px 0}
			#faceshow .middle img{}
		    #faceshow .bottom{justify-content: center;}
		    
		</style>
	</head>
	<body>
		<div class="layui-fluid iframe-top" id="facedatabase">
			<div class="layui-form-query">
				<form class="layui-form" id="query_form">
					<div class="layui-form-item">
						<div class="layui-row">
							<div class="layui-inline">
								<label class="layui-form-mid">时间：</label>
								<div class="layui-input-inline">
									<input type="text" name="StartTime" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</div>
								<a href="javascript:;" class="datelink">~</a>
								<div class="layui-input-inline">
									<input type="text" name="EndTime" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">公司名称：</label>
								<div class="layui-input-inline iframe-select">
									<select name="EntCompanyId" class="lay-ignore" lay-ignore @change="linkagesel(selected)" v-model="selected">
										<option value="">--请选择--</option>
										<option v-for="option in baseData.entCompany.items" :value="option.id">{{ option.name }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">药店名称：</label>
								<div class="layui-input-inline iframe-select">
									<select name="EntStoreId" class="lay-ignore" lay-ignore>
										<option value="">--请选择--</option>
										<option v-for="option in linkage" :value="option.key">{{ option.value }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline iframe-input1">
									<input class="layui-input" type="text" name="Text" autocomplete="off" placeholder="请输入用户编号/机器人ID">
								</div>
							</div>
							<div class="layui-inline iframe-btn1" >
								<div class="layui-input-inline">
									<button class="layui-btn" type="button" data-type="search"><i class="layui-icon">&#xe615;</i>搜索</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<table id="layui-table" lay-filter="layui-action"></table>
		</div>
		<script src="../../plugins/layui/layui.js"></script>
		<script src="../../plugins/vue.min.js"></script>
		<script src="../../common.js"></script>
		<script>
		
			// 基础数据
			var basedata = {
				"entCompany": {
					"items": []
				}
			}
			
			var vm = new Vue({
				el: "#facedatabase",
				data: {
					baseData: basedata,
					selected: '',
					linkage: []
				},
				created() {
					layui.use(['jquery', 'layer', 'table', 'laydate','ajaxmod'], function() {
						var $ = layui.jquery,
							table = layui.table,
							ajaxmod = layui.ajaxmod,
							laydate = layui.laydate;
							var dateOne = new Date($.ajax({async: false}).getResponseHeader("Date"));
							var year=dateOne.getFullYear();
					        var month=dateOne.getMonth()+1;
					        var startdate = year + '-' + month + '-' +'01'+' '+'00'+':'+'00'+':'+'00';
							var day = new Date(year,month,0);   
				            var enddate = year + '-' + month + '-' + day.getDate()+' '+23+':'+59+':'+59; 
							
							
						//日期 1
						laydate.render({
							elem: '#date1',
						//	value:startdate,
							type:'datetime',
						});
						//日期 2
						laydate.render({
							elem: '#date2',
						//	value:enddate,
							type:'datetime',
						});
		            // 基础数据获取
						ajaxmod.layuiPost("/api/sys/robot/RobotListStatic","",function (res) {
							if (res.success) {
								vm.baseData = res.data;
								
								console.log(vm.baseData);
							} else {
								layer.msg(res.message, {icon: 2});
							}
						});	
		
		
		
						table.render({
							elem: '#layui-table',
							url:baseUrl+ '/api/sys/faceRecognition/FaceRecognitionList',
							page: true,
							limit: 16,
							limits: [10, 15, 20, 25, 30],
							height: 'full-100',
							id: 'tableReload',
							loading: true,
							method: 'get',
							where: {Token: cookie.get('usertoken')},
							request: {
								
							},
							response: {
							   statusCode: 200,
							   msgName: 'message',
							},
							cols: [
								[ 
									{
										field: 'platformUserId',
										unresize:true,
										title: '用户编号',
										width: '15%',
									//	templet: '#idTpl',
										edit: true
									}, {
										field: 'collectTime',
										unresize:true,
										title: '录入时间',
										width: '15%',
										sort: true
									}, {
										field: 'collectCount',
										unresize:true,
										title: '录入次数',
								//		width: '15%',
									}, {
										field: 'entStoreName',
										unresize:true,
										title: '药店名称',
										width: '15%',
									}, {
										field: 'robotCode',
										unresize:true,
										title: '录入机器人ID',
										width: '15%',
										sort: true
									}, {
										field: 'faceFront',
										unresize:true,
										title: '人脸信息',
										width: '15%',
										templet: '#faceinfoTpl',
									}, {
										field: 'loginCount',
										unresize:true,
										title: '刷脸登陆次数',
								//		width: '10%',
										sort: true
									}
								]
							],
							
							done: function(res, curr, count) {}
						});
		
						// 操作事件
						table.on('tool(layui-action)', function(obj) {
							var data = obj.data; 
							//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
							var layEvent = obj.event; 
							//获得当前行 tr 的DOM对象
							var tr = obj.tr; 
							
							if(layEvent === 'faceshow') {   
								//展示人脸信息
								var str = '<div id="faceshow"><div class="top"><a href="javascript:;" lay-event="imgdetail"><img src='+data.faceUp+' alt="抬头20°照片" /></a></div>'
								+'<div class="middle"><a href="javascript:;" lay-event="imgdetail"><img src='+data.faceLeft+' alt="左侧20°照片" /></a>'
								+'<a href="javascript:;"><img src='+data.faceFront+' alt="正脸照" /></a><a href="javascript:;" lay-event="imgdetail"><img src='+data.faceRight+' alt="右侧20°照片" /></a></div>'
								+'<div class="bottom"><a href="javascript:;" lay-event="imgdetail"><img src='+data.faceDown+' alt="低头20°照片" /></a></div></div>';
								
								layer.open({
									type: 1,
						    		title: '人脸信息',
						    		content: str,
						    		skin: 'demo-class',
						    		shade: 0.3,
						    		shadeClose: true,
						    		area: ['600px','600px'],
						    		offset: '100px',
						    		move: false,
						    		btn: ['确认','取消'],
						    		// 确认
						    		yes: function (index,layero) {
						    			
						    		},
						    		// 取消
						    		btn2: function (index,layero) {
						    			alert(index);
						    		},
						    		success: function (layero,index) {
		//						    			form.render();
						    		},
								});
							} else {
							
							
							}
						});
		
		
						// 触发函数
						var	active = {
							// 查询
							search: function() {
								var demoReload = $('#demoReload');
								var data=unserialize($("#query_form").serialize().replace(/\+/g," ").replace(/%3A/g,":"));
								
								//执行重载
								table.reload('tableReload', {
									page: {
										//重新从第 1 页开始
										curr: 1
									},
									where: data
										
								});
							},
						};
		
						// 按钮搜索
						$('#facedatabase .layui-btn').on('click', function() {
							var type = $(this).data('type');
							active[type] ? active[type].call(this) : '';
						});
						
						// 回车搜索
						$('#facedatabase input').on('keyup', function(e){
							if (e.keyCode == 13) {
								active.search();
							}
						});
					})
				},
				methods: {
					linkagesel (sel) {
						for(var key of vm.baseData.entCompany.items) {
							if (sel === key.id) {
								vm.linkage = key.stores
							}
						}
					}
				},
				mounted() {

				}
			})
			
		</script>
		<!-- 字段回调 -->
		<script type="text/html" id="idTpl">
			<a>anspray</a>
			<div class="top"></div>
		</script>
		
		<!--人脸回调-->
		<script type="text/html" id="faceinfoTpl">
			 {{#  if(d.faceFront){ }}
			 <a class="faceshow" href="javscript:;" lay-event="faceshow"><img src={{d.faceFront}} alt="人脸图像"  onerror="this.src='http://www.csgrobot.net:9002/NoFaceImage.png'" /></a>
		    <!--<span style="color: #F581B1;">{{ d.patientsex }}</span>-->
		  {{#  } else { }}
		   
		  {{#  } }}
		</script>
		
	</body>

</html>