<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>外部表单</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../common.css">
</head>
<body>
    <div class="layui-container" >
	    <div class="layui-row">
		    <div class="layui-col-md2">
		    	.
		    </div>
		    <div class="layui-col-md8">
			    <div class="layui-form" id="role-page">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<label class="layui-form-label">角色名称：</label>
							<div class="layui-input-block">
								<input type="text" name="address" lay-verify="address" autocomplete="off" placeholder="请输入姓名" class="layui-input">
							</div>
						</div>
						<div class="layui-form">
							<table class="layui-table">
								<colgroup>
									<col width="100">
									<col width="400">
									<col>
								</colgroup>
								<thead>
									<tr>
										<th>模块</th>
										<th>全选</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item in baseData">
										<td>
											<input type="checkbox" class="ancheckbox" name="like1[write]">
											&nbsp;
											<label class="">{{ item.title }}</label>
										</td>
										<td>
											<span class="ancheckbox-span" v-for="child in item.children">
												<input class="ancheckbox" name="Parts" type="checkbox" name="like1[write]" :value="child.id">{{ child.title }}
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
		    </div>
		    <div class="layui-col-md2">
		    	.
		    </div>
	    </div>
    </div>
    
    <script src="../../plugins/layui/layui.js"></script>
    <script src="../../plugins/vue.min.js"></script>
    <script src="../../common.js"></script>
    <script>
    	
    	var basedata = [
			    {
			      "id": 1,
			      "title": "机器人管理",
			      "url": "",
			      "icon": "fa fa fa-android",
			      "children": [
			        {
			          "id": 13,
			          "title": "添加机器人",
			          "url": "module/robot/addrobot.html",
			          "icon": "",
			          "children": []
			        },
			        {
			          "id": 14,
			          "title": "机器人库",
			          "url": "module/robot/robotstore.html",
			          "icon": "",
			          "children": []
			        },
			        {
			          "id": 15,
			          "title": "维修记录",
			          "url": "module/robot/repairrecord.html",
			          "icon": "",
			          "children": []
			        }
			      ]
			    }
			];
    	
    	var vm = new Vue({
				el: "#role-page",
				data: {
					baseData: basedata,
					test: "Fdsf"
				},
				created() {
					
					
					
				}
    		})
    	
    	
    	//Demo
		layui.use(['jquery','form','upload','ajaxmod'], function(){
			var $ = layui.jquery,
			    form = layui.form,
			    upload = layui.upload,
			    ajaxmod = layui.ajaxmod;
			    
			var token = "1f787e3332ac437589dacf58dc374cf4";
			
			// 基础数据获取
			ajaxmod.layuiGet("/api/sys/account/GetAllMenuList?token="+token,"",function (res) {
				
				
				if (res.success) {
					vm.baseData = res.data;
				} else {
					layer.msg(res.message, {icon: 2});
				}
				
				
				form.render();
				
				
			});	
		});
    	
		
	</script>
</body>

</html>