<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>添加机器人</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../common.css">
    <style>
        /*私有公共样式修改,只能在该页面中有效*/
  
        .lay-ignore {
            width: 100% !important;
        }
				
				.position-rel {
					position: relative;
				}
				
				.must-input {
					position: absolute;
					top: 14px;
					right: -16px;
				}
				
    </style>
</head>

<body>
    <div class="layui-fluid iframe-top" id="addrobot">
        <div class="layui-row">
            <div class="layui-col-sm1 layui-col-md2">
                &nbsp;
            </div>
            <div class="layui-col-sm8 layui-col-md6">
                <div class="layui-form-query">
                    <form class="layui-form" id="addrobot-form">
                        <div class="layui-form-item position-rel">
                            <label class="layui-form-mid">ID编号：</label>
                            <div class="layui-input-block">
                                <select class="lay-ignore" name="Type" lay-verify="required" lay-ignore>
                                    <option value="">请选择相关类型</option>
                                    <option v-for="item in baseData.robotType" :value="item.key">{{ item.value }}</option>
                                </select>
                            </div>
                            <span class="must-input"></span>
                        </div>
                        <div class="layui-form-item position-rel">
                            <label class="layui-form-mid">用户名：</label>
                            <div class="layui-input-block">
                                <select class="lay-ignore" name="ProduceCompanyId" lay-verify="required" lay-ignore>
                                    <option value="">请选择生产企业</option>
                                    <option v-for="item in baseData.producer" :value="item.key">{{ item.value }}</option>
                                </select>
                            </div>
                            <span class="must-input"></span>
                        </div>
                        <div class="layui-form-item position-rel">
                            <label class="layui-form-mid">性别：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="Code" lay-verify="required|code" placeholder="机器人出场编号" autocomplete="off">
                            </div>
                            <span class="must-input"></span>
                        </div>
                        <div class="layui-form-item position-rel">
                            <label class="layui-form-mid">城市：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="Price" lay-verify="required|price" placeholder="请输入入库价格" autocomplete="off">
                            </div>
                            <span class="must-input"></span>
                        </div>
                        <div class="layui-form-item position-rel">
                            <label class="layui-form-mid">积分：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="Remark" placeholder="请输入备注信息" autocomplete="off">
                            </div>
                        </div>
												<div class="layui-form-item position-rel">
														<label class="layui-form-mid">职业：</label>
														<div class="layui-input-block">
															<select class="lay-ignore" name="Type" lay-verify="required" lay-ignore>
																	<option value="">请选择相关类型</option>
																	<option v-for="item in baseData.robotType" :value="item.key">{{ item.value }}</option>
															</select>
														</div>
														<span class="must-input"></span>
												</div>
                        <div class="layui-form-item">
                            <br/>
                            <div class="layui-input-block formele-sm">
                                <button class="layui-btn layui-btn-lg layui-btn-normal" lay-submit lay-filter="submit-form">提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
				<div class="layui-col-sm3 layui-col-md4">
					&nbsp;
				</div>
        </div>
    </div>
    <script src="../../plugins/layui/layui.js"></script>
    <script src="../../plugins/vue.min.js"></script>
    <script src="../../common.js"></script>
    <script>
        // 基础数据
        var vm = new Vue({
            el: "#addrobot",
            data: {
                baseData: {},

            },
            created() {

                layui.use(['form', 'layer', 'jquery', 'ajaxmod', 'verifymod'], function () {
                    var $ = layui.jquery,
                        layer = layui.layer,
                        form = layui.form,
                        ajaxmod = layui.ajaxmod,
                        verifymod = layui.verifymod;

                    // 基础数据获取
                    ajaxmod.layuiPost("/api/sys/robot/RobotAddStatic", "", function (res) {
                        if (res.success) {
                            vm.baseData = res.data;
                        } else {
                            layer.msg(res.message, {
                                icon: 2
                            });
                        }
                    });

                    // 字段校验
                    form.verify(verifymod);

                    // 监听提交
                    form.on('submit(submit-form)', function (data) {
                        // 获取机器人配件，以实际看到的标签为准
                        // var arr = vm.baseData.robotparts;
                        var data = $("#addrobot-form").serialize();
                        ajaxmod.layuiPost("/api/sys/robot/RobotAdd", data, function (res) {
                            if (res.success) {
                                layer.msg('操作成功', {
                                    icon: 1
                                });
                            } else {
                                layer.msg(res.message, {
                                    icon: 2
                                });
                            }
                        })
                        return false;
                    });
                })
            }
        })
    </script>
</body>

</html>
