<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>药店列表</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../common.css">
		<style>
			.iframe-top {
				margin-top: 20px;
			}
			
			.iframe-select {
				width: 150px;
			}
			
			.iframe-input1 {
				width: 350px !important;
			}
			
			.iframe-btn1 {
				width: 100px !important;
			}
			#storeaction .update_p {
				display: block;
				width: 100%;
				line-height: 38px
			}
			
			#storeaction .input_noborder {
				border: 0;
				display: inline-block;
			}
			
		</style>
	</head>
	<body>
		<div class="layui-fluid iframe-top" id="drugstorelist">
			<div class="layui-form-query">
				<form class="layui-form" id="query_form">
					<div class="layui-form-item">
						<div class="layui-row">
							<div class="layui-inline">
								<label class="layui-form-mid">时间：</label>
								<div class="layui-input-inline">
									<input type="text" name="CreateTimeFrom" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</div>
								<a href="javascript:;" class="datelink">~</a>
								<div class="layui-input-inline">
									<input type="text" name="CreateTimeTo" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">公司名称：</label>
								<div class="layui-input-inline iframe-select">
									<select name="EntCompanyId" class="lay-ignore" name="EntCompanyId" lay-ignore @change="linkagesel(selected)" v-model="selected">
										<option value="">--请选择--</option>
										<option v-for="item in baseData.entCompany.items" :value="item.id">{{ item.name }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">药店名称：</label>
								<div class="layui-input-inline iframe-select">
									<select name="EntStoreId" class="lay-ignore" name="EntStoreId" lay-ignore>
										<option value="">--请选择--</option>
										<option v-for="item in linkage" :value="item.key">{{ item.value }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline iframe-input1">
									<input class="layui-input" type="text" name="NameOrCode" autocomplete="off" placeholder="请输入药店编号或者药店名称">
								</div>
							</div>
							<div class="layui-inline iframe-btn1" >
								<div class="layui-input-inline">
									<button class="layui-btn" type="button" data-type="search"><i class="layui-icon">&#xe615;</i>搜索</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="layui-row">
				<button class="layui-btn layui-btn-normal" data-type="addstore">添加药店</button>
			</div>
			<table id="layui-table" lay-filter="layui-action"></table>
		</div>
		<script src="../../plugins/layui/layui.js"></script>
		<script src="../../plugins/vue.min.js"></script>
		<script src="../../common.js"></script>
		<script>
			
			// 基础数据
			var basedata = {
				"entCompany": {
					"items": []
				}
			}
			
			var vm = new Vue({
				el: "#drugstorelist",
				data: {
					baseData: basedata,
					// 默认选择
					selected: '',
					// 公司-药店联动
					linkage: []
				},
				created() {
					layui.use(['jquery', 'layer', 'table', 'laydate','form','ajaxmod'], function() {
						var $ = layui.jquery,
							table = layui.table,
							laydate = layui.laydate,
							form = layui.form,
							ajaxmod = layui.ajaxmod;
							
						// 基础数据获取
						ajaxmod.layuiPost("/api/sys/robot/RobotListStatic","",function (res) {
							if (res.success) {
								vm.baseData = res.data;
							} else {
								layer.msg(res.message, {icon: 2});
							}
						});	

						laydate.render({
						    elem: '#date1',
//						    type: 'datetime'
						});
						
						laydate.render({
						    elem: '#date2',
//						    type: 'datetime'
						});

						table.render({
							elem: '#layui-table',
							url: baseUrl+'/api/sys/ent/EntStoreList',
							page: true,
							limit: 16,
							limits: [10, 15, 20, 25, 30],
							height: 'full-140',
							id: 'tableReload',
							loading: true,
							method: 'get',
							where: {token: cookie.get('usertoken')},
							request: {
								
							},
							response: {
							   statusCode: 200,
							   msgName: 'message',
							},
							cols: [
								[ 
									{
										field: 'id',
										title: '药店编号',
										width: '15%',
									}, {
										field: 'createTime',
										title: '添加时间',
										width: '15%',
									}, {
										field: 'companyName',
										title: '公司名称',
										width: '15%',
									}, {
										field: 'name',
										title: '药店名称',
										width: '15%',
									}, {
										field: 'entRobotCount',
										title: '机器人数量',
										width: '15%',
									}, {
										field: 'manageUserAccount',
										title: '后台账号',
										width: '15%',
									}, {
										fixed: 'right',
										title: '操作',
										width: '10%',
										align: 'center',
										toolbar: '#barAction'
									} 
								]
							],
							done: function(res, curr, count) {}
						});
                        
                        //回车搜索事件
                        document.onkeyup=function(evt){
                        	var evt=event||window.event;
                        	var code=evt.charCode||evt.keyCode;
                        	if(code==13){
                        		active.search()
                        	}
                        }

						// 操作事件
						table.on('tool(layui-action)', function(obj) {
							var data = obj.data; 
							//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
							var layEvent = obj.event; 
							//获得当前行 tr 的DOM对象
							var tr = obj.tr; 
							
							if(layEvent === 'edit') {
								for(var Key in data) {if(data[Key] == null) {data[Key] = "";}} 
								var str = `<form class="layui-form layui-row iframe-top" action="" id="storeaction">
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">公司名称：</label>
														<div class="layui-input-inline">
															<p class="update_p"><input class="layui-input hide" name="CompanyId" lay-verify="required" value=`+data.companyId+`>`+data.companyName+`</p>
														</div>
													</div>
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">门店零售ID编号：</label>
														<div class="layui-input-inline"><input type="text" name="RetailCode" lay-verify="" autocomplete="off" placeholder="请输入门店零售ID编号" class="layui-input" value=`+data.retailCode+`></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:150px;text-align:right">药店名称：</label>
														<div class="layui-input-inline"><input class="layui-input" type="hidden" name="Id" value=`+data.id+`><input type="text" name="Name" lay-verify="required" autocomplete="off" placeholder="请输入药店名称" class="layui-input" value=`+data.name+`><span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:150px;text-align:right">负责人姓名：</label>
														<div class="layui-input-inline"><input type="text" name="Linkman" lay-verify="required" autocomplete="off" placeholder="请输入负责人姓名" class="layui-input" value=`+data.linkman+`><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:150px;text-align:right">药店地址：</label>
														<div class="layui-input-inline"><input type="text" name="Address" lay-verify="required" autocomplete="off" placeholder="请输入药店地址" class="layui-input" value=`+data.address+`><span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">负责人电话：</label>
														<div class="layui-input-inline"><input type="text" name="ContactNumber" lay-verify="required|phone" autocomplete="off" placeholder="请输入负责人电话" class="layui-input" value=`+data.contactNumber+`><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">门店ID编号：</label>
														<div class="layui-input-inline"><input type="text" name="Code" lay-verify="" autocomplete="off" placeholder="请输入门店ID编号" class="layui-input" value=`+data.code+`></div>
													</div>
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">药店管理后台账号：</label>
														<div class="layui-input-inline">
															<p class="update_p"><input class="layui-input input_noborder" type="text" name="ManageUserAccount" readonly="readonly" value=`+data.manageUserAccount+` ></p>
														</div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">门店医保ID编号：</label>
														<div class="layui-input-inline"><input type="text" name="MedicalInsuranceCode" lay-verify="" autocomplete="off" placeholder="请输入门店医保ID编号" class="layui-input" value=`+data.medicalInsuranceCode+`></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:150px;text-align:right">药店管理后台密码：</label>
														<div class="layui-input-inline"><input type="text" name="ManageUserPassword" lay-verify="required" autocomplete="off" placeholder="请输入药店管理后台密码" class="layui-input" value=`+data.manageUserPassword+`><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">药店纬度：</label>
														<div class="layui-input-inline"><input type="text" name="Latitude" lay-verify="" autocomplete="off" placeholder="请输入药店纬度" class="layui-input" value=`+data.latitude+`><span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:150px;text-align:right">药店经度：</label>
														<div class="layui-input-inline"><input type="text" name="Longitude" lay-verify="required" autocomplete="off" placeholder="请输入药店经度" class="layui-input" value=`+data.longitude+`><span class="must-input positionspan"></span></div>
													</div>
												</div>
												<button class="layui-btn hide" lay-submit lay-filter="button-suball" id="ifrbutton">立即提交</button>
											</form>`;
								
								active.addstore(data, str);
								
							} else {
								alert("出错了");
							}
						});

						// 触发函数
						var active = {
							// 添加药店
							addstore: function(data, str) {
								if (str == undefined) {
									var companystr = '<select name="CompanyId" class="layui-select" lay-verify="required" v-model="selected"><option value="">--请选择--</option>';
									$.each(vm.baseData.entCompany.items, function (name,value) {
										companystr = companystr+"<option value="+value["id"]+">"+value["name"]+"</option>";
									})
									companystr = companystr+'</select>';
									str = `<form class="layui-form layui-row iframe-top" action="" id="storeaction">
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">公司名称：</label>
														<div class="layui-input-inline">`+companystr+`<span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:140px;text-align:right">门店零售ID编号：</label>
														<div class="layui-input-inline"><input type="text" name="RetailCode" lay-verify="" autocomplete="off" placeholder="请输入零售编码" class="layui-input"></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">药店名称：</label>
														<div class="layui-input-inline"><input type="text" name="Name" lay-verify="required" autocomplete="off" placeholder="请输入药店名称" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">负责人姓名：</label>
														<div class="layui-input-inline"><input type="text" name="Linkman" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">药店地址：</label>
														<div class="layui-input-inline"><input type="text" name="Address" lay-verify="required" autocomplete="off" placeholder="请输入药店地址" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">负责人电话：</label>
														<div class="layui-input-inline"><input type="number" name="ContactNumber" lay-verify="required|phone" autocomplete="off" placeholder="请输入负责人电话" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:140px;text-align:right">门店ID编号：</label>
														<div class="layui-input-inline"><input type="text" name="Code" lay-verify="" autocomplete="off" placeholder="请输入门店ID编号" class="layui-input"></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">药店管理后台账号：</label>
														<div class="layui-input-inline"><input type="text" name="ManageUserAccount" lay-verify="required" autocomplete="off" placeholder="请输入管理员后台账号" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6"><label class="layui-form-mid" style="width:140px;text-align:right">门店医保ID编号：</label>
														<div class="layui-input-inline"><input type="text" name="MedicalInsuranceCode" lay-verify="" autocomplete="off" placeholder="请输入医保编号" class="layui-input"></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">药店管理后台密码：</label>
														<div class="layui-input-inline"><input type="text" name="ManageUserPassword" lay-verify="required" autocomplete="off" placeholder="请输入药店管理员密码" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
												</div><br>
												<div class="layui-row">
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">药店纬度：</label>
														<div class="layui-input-inline"><input type="text" name="Latitude" lay-verify="required" autocomplete="off" placeholder="请输入药店纬度" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
													<div class="layui-inline layui-col-xs6 positiondiv"><label class="layui-form-mid" style="width:140px;text-align:right">药店经度：</label>
														<div class="layui-input-inline"><input type="text" name="Longitude" lay-verify="required" autocomplete="off" placeholder="请输入药店经度" class="layui-input"><span class="must-input positionspan"></span></div>
													</div>
												</div>
												<button class="layui-btn hide" lay-submit lay-filter="button-suball" id="ifrbutton">立即提交</button>
											</form>`;
								}
								
								
								// 数据提交
		                        form.on('submit(button-suball)', function(data){
		                            // var data = $("#storeaction").serialize();
						    		ajaxmod.layuiPost("/api/sys/ent/EntStoreAddOrUpdate",data.field, function (res) {
										if(res.success){
											layer.closeAll();
											$(".layui-laypage-btn").click();
											layer.msg('操作成功', {icon: 1});
						                }else{
						                	layer.msg(res.message, {icon: 2});
						                }
									})
		                            return false;
		                        }); 
								
								layer.open({
						    		type: 1,
						    		title: data == undefined ? "添加药店" : "药店信息",
						    		content: str,
						    		skin: 'demo-class',
						    		shade: 0.3,
						    		shadeClose: true,
						    		area: ['800px','550px'],
						    		offset: '100px',
						    		move: false,
						    		btn: ['确认','取消'],
						    		// 确认
						    		yes: function (index,layero) {
						    			$("#ifrbutton").click();
						    		},
						    		// 取消
						    		btn2: function (index,layero) {
						    			layer.closeAll();
						    		},
						    		success: function (layero,index) {
						    			form.render();
						    		},
						    	})
							},
							// 查询
							search: function() {
								var demoReload = $('#demoReload');
								// console.log(unserialize($("#query_form").serialize()));
								//执行重载
								table.reload('tableReload', {
									page: {
										//重新从第 1 页开始
										curr: 1
									},
									where: unserialize(decodeURIComponent($("#query_form").serialize(),true))
								});
							},
						};
						
						// 按钮事件
						$('#drugstorelist .layui-btn').on('click', function(){
					        var type = $(this).data('type');
					        active[type] ? active[type].call(this) : '';
					    });
					    
						// 回车搜索
						$('#drugstorelist input').on('keyup', function(e){
							if (e.keyCode == 13) {
								active.search();
							}
						});
					})
				},
				methods: {
					linkagesel (sel) {
						for(var key of vm.baseData.entCompany.items) {
							if (sel === key.id) {
								vm.linkage = key.stores
							}
						}
					}
				},
				mounted() {

				}
			})
		</script>
		<!-- 操作 -->
		<script type="text/html" id="barAction">
			<a 	class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
		</script>
		<script type="text/html" id="toLabel">
			<span class="layui-badge">{{ d.wealth }}</span>
		</script>
	</body>

</html>