<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>语音记录</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../common.css">
		<style>
			
			.iframe-top {
				margin-top: 20px;
			}
			
			.iframe-select {
				width: 150px;
			}
			
			.iframe-input1 {
				width: 350px !important;
			}
			
			.iframe-btn1 {
				
				width: 100px !important;
			}
			#showaudio{
				width:100%;height:100%;padding:20px;box-sizing:border-box;
			}
			#showaudio textarea{
				resize:none;width:100%;height:100%;border:0;
			}
			.layui-layer-content{padding:20px}
			
			
		</style>
	</head>
	<body>
		<div class="layui-fluid iframe-top" id="voicerecord">
			<audio src="" id="audioplay">
			您的浏览器不支持 audio 标签。
			</audio>
			<div class="layui-form-query">
				<form class="layui-form" id="query-form">
					<div class="layui-form-item">
						<div class="layui-row">
							<div class="layui-inline">
								<label class="layui-form-mid">时间：</label>
								<div class="layui-input-inline">
									<input type="text" name="CreateTimeFrom" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</div>
								<a href="javascript:;" class="datelink">~</a>
								<div class="layui-input-inline">
									<input type="text" name="CreateTimeTo" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</div>
							</div>
							
							<div class="layui-inline">
								<label class="layui-form-mid">公司名称：</label>
								<div class="layui-input-inline iframe-select">
									<select class="lay-ignore" name="EntCompanyId" lay-ignore @change="linkagesel(selected)" v-model="selected">
										<option value="">--请选择--</option>
										<option v-for="(item,index) in baseData.entCompany.items" :value="item.id">{{ item.name }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">药店名称：</label>
								<div class="layui-input-inline iframe-select">
									<select class="lay-ignore" name="EntStoreId" lay-ignore>
										<option value="">--请选择--</option>
										<option v-for="item in linkage" :value="item.key">{{ item.value }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline iframe-input1">
									<input class="layui-input" type="text" name="Text" autocomplete="off" placeholder="请输入语音编号">
								</div>
							</div>
							<div class="layui-inline iframe-btn1" >
								<div class="layui-input-inline">
									<button class="layui-btn" type="button" data-type="search"><i class="layui-icon">&#xe615;</i>搜索</button>
								</div>
							</div>
						</div>
						<div class="layui-row">
							<div class="layui-inline">
								<label class="layui-form-mid">语音类型：</label>
								<div class="layui-input-inline iframe-select">
									<select name="AudioType" class="lay-ignore" lay-ignore>
										<option value="">--请选择--</option>
										<option v-for="option in baseDataVoice.audioType" v-bind:value="option.value">{{ option.key }}</option>
									</select>
								</div>
							</div>
							<div class="layui-inline">
								<label class="layui-form-mid">标记类型：</label>
								<div class="layui-input-inline iframe-select">
									<select name="AudioMark" class="lay-ignore" lay-ignore>
										<option value="">--请选择--</option>
										<option v-for="option in baseDataVoice.audioMark" v-bind:value="option.value">{{ option.key }}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<table id="layui-table" lay-filter="layui-action"></table>
		</div>
		<script src="../../plugins/layui/layui.js"></script>
		<script src="../../plugins/vue.min.js"></script>
		<script src="../../common.js"></script>
	    <script type="text/javascript">
	    
	    	// 基础数据
			var basedata = {
				"entCompany": {
					"items": []
				}
			}
	    
			var vm = new Vue({
				el: "#voicerecord",
				data: {
					baseData: basedata,
					baseDataVoice: {},
					audioflg:true,
					// 默认选择
					selected: '',
					// 公司-药店联动
					linkage: []
				},
				created() {
					layui.use(['jquery', 'layer', 'table', 'laydate','form','ajaxmod'], function() {
						
						var $ = layui.jquery,
							table = layui.table,
							form = layui.form,
							laydate = layui.laydate,
							ajaxmod = layui.ajaxmod;
							
						// 基础数据获取
						ajaxmod.layuiPost("/api/sys/robot/RobotListStatic","",function (res) {
							if (res.success) {
								vm.baseData = res.data;
							} else {
								layer.msg(res.message, {icon: 2});
							}
						});	
						
						ajaxmod.layuiGet("/Api/Common/Enums",$.param({names: "AudioType,AudioMark"}),function (res) {
							if (res.success) {
								vm.baseDataVoice = res.data;
							} else {
								layer.msg(res.message, {icon: 2});
							}
						});	
						

						//日期 1
						laydate.render({
							elem: '#date1'
//							,type:'datetime'
						});

						//日期 2
						laydate.render({
							elem: '#date2'
//							,type:'datetime'
						});

						table.render({
							elem: '#layui-table',
							url: baseUrl+'/api/sys/audio/AudioRecordList',
							page: true,
							limit: 15,
							height: 'full-146',
							limits: [10, 15, 20, 25, 30],
							id: 'tableReload',
							loading: true,
							method: 'get',
							where: {token: cookie.get('usertoken')},
							request: {
								
							},
							response: {
							   statusCode: 200,
							   msgName: 'message',
							},
							cols: [
								[ 
									{
										field: 'id',
										title: '语音编号',
										unresize:true,
										width: '8%'
									}, {
										field: 'createTime',
										title: '时间',
										unresize:true,
										width: '10%'
									}, {
										field: 'entStoreName',
										title: '药店名称',
										unresize:true,
										width: '6%'
									}, {
										field: 'robotCode',
										title: '机器人ID',
										unresize:true,
										width: '6%'
									}, {
										field: 'audioTypeDesc',
										title: '语音类型',
										unresize:true,
										width: '6%'
									}, {
										field: 'audioContent',
										title: '语音识别内容',
								        templet:"#distinguishTpl",
								        unresize:true,
								        width: '12%'
									}, {
										field: 'audioUrl',
										title: '音频',
								        templet:'#audioTpl',
								        unresize:true,
								        width: '20%'
									}, {
										field: 'answer',
										title: '回答内容',
										templet:"#answerTpl",
										unresize:true,
										width: '10%'
									}, {
										field: 'audioMarkDesc',
										title: '标记类型',
										unresize:true,
										width: '6%'
									},{
										field: 'remark',
										title: '备注信息',
										unresize:true,
										width: '6%'
									}, {
										fixed: 'right',
										title: '操作',
										align: 'center',
										toolbar: '#barAction',
									} 
								]
							],
							done: function(res, curr, count) {}
						});

						// 操作事件
						table.on('tool(layui-action)', function(obj) {
							var data = obj.data; 
							//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
							var layEvent = obj.event; 
							//获得当前行 tr 的DOM对象
							var tr = obj.tr; 
							
							if (layEvent === 'answercontent') {
								data.answer=data.answer==null?'':data.answer;
								
								var str = '<div id="showaudio"><textarea readonly>'+data.answer+'</textarea></div>';
								layer.open({
									id: 9,
						    		type: 1,
						    		title: '回答内容',
						    		content: str,
						    		skin: 'demo-class',
						    		shade: 0.3,
						    		shadeClose: true,
						    		area: ['400px','260px'],
						    		offset: '100px',
						    		move: false,
						    		btn: ['确认','取消'],
						    		// 确认
						    		yes: function (index,layero) {
						    			layer.closeAll();
						    		},
						    		success: function (layero,index) {
						    			// 获取内容
						    			//form.render();
						    		},
						    	})
							} else if (layEvent === 'voicecontent') {
								
								data.audioContent=data.audioContent==null?'':data.audioContent;
								
								var str='<div id="showaudio"><textarea readonly>'+data.audioContent+'</textarea></div>';
								layer.open({
									id: 9,
						    		type: 1,
						    		title: '语音识别内容',
						    		content: str,
						    		skin: 'demo-class',
						    		shade: 0.3,
						    		shadeClose: true,
						    		area: ['400px','260px'],
						    		offset: '100px',
						    		move: false,
						    		btn: ['确认'],
						    		// 确认
						    		yes: function (index,layero) {
						    			layer.closeAll();
						    		},
						    		success: function (layero,index) {
						    			// 获取内容
						    			//form.render();
						    		},
						    	})
							
							} else if(layEvent === 'remarks') {
								
								
								
								console.log(data);
								
								data.remark = data.remark==null?'':data.remark;
								
								var str = `<form class="layui-form layui-row" action="" id="remarksshow">
												<div class="layui-form-item">
													<label class="layui-form-label">备注内容:</label>
													<div class="layui-input-block">
														<input type="hidden" name="Id" value=`+data.id+`>
														<textarea name="Remark" placeholder="请输入备注内容" class="layui-textarea" style="resize:none">`+data.remark+`</textarea>
													</div>
												</div>
											</form>`;
								// 赋值
								layer.open({
									type: 1,
						    		title: '备注信息',
						    		content: str,
						    		skin: 'demo-class',
						    		shade: 0.3,
						    		shadeClose: true,
						    		formflag:false,
						    		area: ['400px','260px'],
						    		offset: '100px',
						    		move: false,
						    		btn: ['确认','取消'],
						    		// 确认
						    		yes: function (index,layero) {
						    			var data = $("#remarksshow").serialize();	
							    		ajaxmod.layuiPost("/api/sys/audio/RemarkAudioRecord",data, function (res) {
											if(res.success){
												$(".layui-laypage-btn").click();
												layer.msg('操作成功', {icon: 1});
							                }else{
							                	layer.msg(res.message, {icon: 2});
							                }
										})
							    		layer.closeAll();
							    		return false;
						    		},
						    		// 取消
						    		btn2: function (index,layero) {
						    			
						    		},
						    		success: function (layero,index) {
						    			
						    		},
								});
								
							}else if(layEvent === 'marker') {
								vm.formflag=false;
								var markstr = "";
								$.each(vm.baseDataVoice.audioMark, function(i, v) {
									markstr = data.audioMark == v.value ? markstr + "<option value="+v.value+" selected>"+v.key+"</option>" : markstr + "<option value="+v.value+">"+v.key+"</option>";
								})
								var str = `<form class="layui-form layui-row" action="" id="remarkupdate">
												<div class="layui-row">
													<div class="layui-inline layui-col-xs12">
														<input type="hidden" name="Id" value=`+data.id+`>
														<label class="layui-form-mid" style="width:100px;text-align:right">标记类型：</label>
														<div class="layui-input-inline" style="width:60%">
															<select class="lay-ignore" name="AudioMark" lay-verify="required" lay-ignore>
																<option value="">--请选择--</option>`
																+markstr+
															`</select>
															<span class="must-input"></span>
														</div>
													</div>
												</div>
												<button type='button' class="layui-btn hide" lay-submit lay-filter="button1" id="button1">立即提交</button>
											</form>`;
											
								layer.open({
						    		type: 1,
						    		title: '标记信息',
						    		content: str,
						    		skin: 'demo-class',
						    		shade: 0.3,
						    		shadeClose: true,
						    		area: ['400px','260px'],
						    		offset: '100px',
						    		move: false,
						    		btn: ['确认','取消'],
						    		// 确认
						    		yes: function (index,layero) {
						    			
						    			$("#remarkupdate #button1").click();
						    			
						    			if(vm.formflag){
						    				var data = $("#remarkupdate").serialize();
						    				ajaxmod.layuiPost("/api/sys/audio/MarkAudioRecord",data, function (res) {
												if(res.success){
													layer.closeAll();
													$(".layui-laypage-btn").click();
													layer.msg('操作成功', {icon: 1});
								                }else{
								                	layer.msg(res.message, {icon: 2});
								                }
										    })
						    			}
						    			return false;
						    		},
						    		// 取消
						    		btn2: function (index,layero) {
						    			layer.closeAll();
						    		},
						    		success: function (layero,index) {
						    			// 获取内容
						    			//form.render();
						    		},
						    	})
								
							} else if(layEvent === 'playaudio'){
								var that=this;
								vm.audioflg=!vm.audioflg;
								console.log(vm.audioflg);
								if(vm.audioflg){
									console.log(vm.audioflg);
								 //执行重载
								  $("#audioplay").attr({"src":"","autoplay":false});
							      table.reload('tableReload', {
							        page: {
							          curr: 1 //重新从第 1 页开始
							        }
							        ,where: {
							          key: {
							            //id: demoReload.val()
							          }
							        },
							        
							      });
							  
								}else{
									$(this).attr("lay-event","stopaudio")
									$(this).find("i")[0].innerHTML='&#xe651;';	
									$("#audioplay").attr({"src":"test.mp3","autoplay":"autoplay"});
								}
								
							}else if(layEvent === 'stopaudio'){
								$(this).attr("lay-event","playaudio");
								$(this).find("i")[0].innerHTML='&#xe652;';
								vm.audioflg=!vm.audioflg;
								$("#audioplay").attr({"src":"","autoplay":false});
							}
						});
						
						
                       //回复信息展示
                        var layop=function(title,value){
                        	layer.open({
					    		type: 1,
					    		title: title,
					    		content: value,
					    		skin: 'demo-class',
					    		shade: 0.3,
					    		shadeClose: true,
					    		area: ['500px','400px'],
					    		offset: '100px',
					    		move: false,
					    		btn: ['确定', '取消'],
					    		// 确认
					    		yes: function (index,layero) {
					    			layer.closeAll();
					    		}
						    })
                        }
                       //标记类型选择
                        var layop2=function(title,value){
                        	layer.open({
					    		type: 1,
					    		title: title,
					    		content: value,
					    		skin: 'demo-class',
					    		shade: 0.3,
					    		shadeClose: true,
					    		area: ['400px','260px'],
					    		offset: '100px',
					    		move: false,
					    		btn: ['确认'],
					    		// 确认
					    		yes: function (index,layero) {
					    			layer.closeAll();
					    		},
					    		btn2: function(index, layero){
								    //按钮【按钮二】的回调
								    layer.closeAll();
								    //return false 开启该代码可禁止点击该按钮关闭
								 },
						    })
                        }
                        
                        form.on('submit(button1)', function(data){
									// var data = $("#remarkupdate").serialize();	
						    		
						    		vm.formflag=true;
						    		
                                }); 
                        
                        
						// 触发函数
						var active = {
							// 查询
							search: function() {
								//执行重载
								table.reload('tableReload', {
									page: {
										//重新从第 1 页开始
										curr: 1
									},
									where: unserialize($("#query-form").serialize())
								});
							},
						};
						
						// 按钮搜索
						$('#voicerecord .layui-btn').on('click', function() {
							var type = $(this).data('type');
							active[type] ? active[type].call(this) : '';
						});
						
						// 回车搜索
						$('#voicerecord input').on('keyup', function(e){
							if (e.keyCode == 13) {
								active.search();
							}							
						});
					})
				},
				methods: {
					linkagesel (sel) {
						for(var key of vm.baseData.entCompany.items) {
							if (sel === key.id) {
								vm.linkage = key.stores
							}
						}
					}
				},
				mounted() {

				}
			})
	    </script>
		<!-- 语音识别内容 -->
		<script type="text/html" id="distinguishTpl">
			{{# if(d.audioContent == null){ }}
			 <a href="javascript:;" lay-event="voicecontent">{{}}</a>
			{{# } else { }}
			 <a href="javascript:;" lay-event="voicecontent">{{d.audioContent}}</a>
			{{# } }}
		</script>
		<!-- 音频回调 -->
		<script type="text/html" id="audioTpl">
			<audio src={{d.audioUrl}} controls="controls">
				浏览器暂不支持该音频
			</audio>
			<!--<a 	class=" layui-btn layui-btn-sm" lay-event="playaudio"><i class="layui-icon" style="font-size:24px!important">&#xe652;</i></a>-->
		</script>
		<!-- 回答内容回调 -->
		<script type="text/html" id="answerTpl">
			{{# if(d.answer == null){ }}
			 <a href="javascript:;" lay-event="answercontent">{{}}</a>
			{{# } else { }}
			 <a href="javascript:;" lay-event="answercontent">{{d.answer}}</a>
			{{# } }}
			
		</script>
		<!-- 操作 -->
		<script type="text/html" id="barAction">
			<a 	class="layui-btn layui-btn-normal layui-btn-xs" lay-event="marker"><i class="layui-icon">&#xe642;</i>标记</a>
			<a 	class="layui-btn layui-btn-normal layui-btn-xs" lay-event="remarks"><i class="layui-icon">&#xe63c;</i>备注</a>
		</script>
	</body>
</html>